<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="test01ConnectionString" connectionString="Data Source=localhost;Initial Catalog=test01;User ID=sa;Password=s" providerName="System.Data.SqlClient"/>
    <add name="test01ConnectionString2" connectionString="Data Source=localhost;Initial Catalog=test01;User ID=sa;Password=s" providerName="System.Data.SqlClient"/>
    <add name="test01ConnectionString3" connectionString="Data Source=localhost;Initial Catalog=test01;User ID=sa;Password=s" providerName="System.Data.SqlClient"/>
    <add name="test01ConnectionString4" connectionString="Data Source=localhost;Initial Catalog=test01;User ID=sa;Password=s" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.7.2" executionTimeout="300" maxRequestLength="51200" useFullyQualifiedRedirectUrl="false"/>
    <!--Form验证配置
      authentication配置节
      name:cookie名字
      mode:认证的模式
      loginUrl:未认证的用户登录的页面
      defaultUrl:认证成功后默认跳转的页面-->
    <authentication mode="Forms">
      <forms name="admin" loginUrl="Login.aspx" defaultUrl="Aspx/HomePage.aspx">
        <!--credentials配置节
        passwordFormat：加密方式
        Clear:明文
        MD5：加密算法，比SHA1性能高
        SHA1：加密算法
        添加三个明文密码的账户-->
        <credentials passwordFormat="MD5">
          <user name="admin" password="698D51A19D8A121CE581499D7B701668"/>
          <user name="user" password="698D51A19D8A121CE581499D7B701668"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <!--allow：允许进入的账户
      deny：禁止进入的账户-->
      <allow users="admin"/>
      <!--<deny users="?,*"/>-->
    </authorization>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>